a {
    color: #FFF;
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

.product-image {
    height: 250px;
}

.detailsDescription {
    font-size: 1.5em;
}

.detailsImg {
    height: 50vmin;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.checkout-image {
    width: 5rem;
}
