a {
    color: #FFF;
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

.product-image {
    height: 250px;
}

.detailsDescription {
    font-size: 1.5em;
}

.detailsImg {
    height: 50vmin;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.checkout-image {
    width: 5rem;
}

.font-awesome-icon {
    font-size: 3em;
}

.personal-sites, 
.delete-button {
    cursor: pointer;
}

.cart-image {
    height: 10em;
    display: block;
}

.alt-row {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.alt-container {
    padding-left: 0;
}

@media ( max-width: 400px) {
    .noButton {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .alt-row {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
}